<header fxLayout="row">
  <h1 fxFlex="20"><span style="color: black">De</span><span style="color: royalblue">Sci</span></h1>
  <nav fxFlex="60" fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="center center">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/my-papers">Your Research</a>
    <a mat-button routerLink="/about">About</a>
  </nav>

  <div fxFlex="20" fxLayoutAlign="end" >
    <button mat-mini-fab [matMenuTriggerFor]="menu" class="profile-button" color="primary" aria-label="Profile">
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu fxLayout="column" fxLayoutAlign="center" #menu="matMenu">
      <h3>Tokens: {{web3Service.reputation}}</h3>
      <h3>Papers: {{web3Service.paperCount}}</h3>
      <button mat-menu-item (click)="login()" *ngIf="!loggedIn" [class]="'login'">Connect</button>
    </mat-menu>
  </div>

</header>