<!-- Publish page -->
<form [formGroup]="form">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1 fxFlexOffset="1em">Review</h1>
    
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2em">
      <mat-card style="min-width:40em; padding-top: 0">
        <mat-card-content style="padding-top: 0">
          <form [formGroup]="form" fxLayout="column">
            <div fxLayout="row">
              <mat-button-toggle-group formControlName="isPositive" aria-label="Rate">
                <mat-button-toggle [value]="true">Positive</mat-button-toggle>
                <mat-button-toggle [value]="false">Negative</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
  
            <mat-form-field fxFlexOffset="1.2em" appearance="outline">
              <mat-label>Title</mat-label>
              <input formControlName="title" matInput type="text" placeholder="Ex. Very interesting" value="">
              <button *ngIf="form.get('title')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.patchValue({'title': ''})">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>Review</mat-label>
              <textarea formControlName="review" value="" matInput type="text" placeholder="Ex. The paper is very interesting and well written.">
              </textarea>
              <button *ngIf="form.get('review')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.patchValue({'review': ''})">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
    
            <button type="submit" (click)="onSubmit()"fxFlexOffset="1em" [mat-dialog-close]="form.value" mat-raised-button color="primary">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>