<!-- About page -->

<div class="page-header">
  <h1>About</h1>
</div>
<mat-card>
  <mat-card-content fxLayout="row" fxLayoutGap="2em">
    <!-- <img style="height: 200px" src="assets/images/placeholder.jpg" alt="placeholder"> -->
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img style="height: 100px" src="assets/images/author.jpeg" alt="placeholder">
        
        <div fxFlexOffset="1em" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2em">
          <div fxLayout="column">
            <p>Hi! I'm Minut R. Adrian. I'm a student at Sapienza University of Rome, Italy. I'm passionate about software development and I'm always looking for new challenges and new technologies. I worked alone on this project for the Blockchain and Ledger Technologies course for my M.Sc. in Computer Science.</p>
            
            <div fxFlexOffseto="1em" fxLayout="row" fxLayoutGap="1em">
              <form action="https://github.com/adrianrob1" method="get" target="_blank">
                <button mat-raised-button color="link">Github</button>
              </form>
              <form action="https://www.linkedin.com/in/adrian-robert-minut/" method="get" target="_blank">
                <button mat-raised-button color="link">Linkedin</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      
      <div fxFlexOffset="2em" fxLayout="column">
        <h2>Project Information</h2>
        <p>This is a PoC for a Decentralized Science platform which offers the opportunity of publishing and peer reviewing research. This is achievable using Smart Contracts and IPFS. For more details you can read the report on Github.</p>

        <div fxFlexOffseto="1em" fxLayout="row" fxLayoutGap="1em">
          <form action="https://github.com/adrianrob1/decentralized-science" method="get" target="_blank">
            <button mat-raised-button color="link">Github Repository</button>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>