/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  padding: 1.5em;
}

.page-header {
  padding: 2em 10% 1em 10%; 
  margin: 0;
}

.page-header h1 {
  margin: 0;
}